@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <button id="in">Time in</button>
       <button id="on">Time out</button>
        <table border="1px">
        <tbody>
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Ngày làm</th>
                    <th>time in</th>
                    <th>time out</th>
                </tr>
            </tbody>
        </table>
	<script src="~/js/dim.js"></script>
    </body>
</html>