@model fullstackCsharp.Models.Attendane

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên nhân viên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUNavigation.IdU)
        </dd>
        <dt class = "col-sm-2">
            Ngày
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendaneDate)
        </dd>
        <dt class = "col-sm-2">
            Giờ vào
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkin)
        </dd>
        <dt class = "col-sm-2">
            Giở ra
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkout)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdA" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-outline-info" asp-action="Index">Trở lạit</a>
    </form>
</div>
