@model fullstackCsharp.Models.UserRole

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <h4>Phân Quyền</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Quyền
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRNavigation.RoleName)
        </dd>
        <dt class = "col-sm-2">
            Nhân viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUNavigation.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUr" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> <br />
        <a class="btn btn-outline-info" asp-action="Index">Trở lại</a>
    </form>
</div>
