@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model Login
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
	<link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <form role="form" method="post" asp-controller="home">
        <h1>Please Sign in</h1>
        <input type="text" id="user" name="user" placeholder="username" /><br />
        <input type="password" id="pass" name="password" placeholder="password" /><br />
        <input type="submit" value="Login" /><br />
    </form>
</body>
</html>
