@model fullstackCsharp.Models.Department

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sửa</h1>

<h4>Phòng ban</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdD" />
            <div class="form-group">
                <label asp-for="Department1" class="control-label">Phòng ban</label>
                <input asp-for="Department1" class="form-control" />
                <span asp-validation-for="Department1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="Index">Trở lại</a>
</div>

