* {
    margin: 0;
    padding: 0;
}
/* login */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.baogiaothong.vn/upload/2-2022/images/2022-05-25/2-1653445668-926-width740height481.jpg);
    background-size: cover;
    background-position: center;
}
/* form and text head */
.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}
/*  user and pass */
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }
/* animation input hover */
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
/*bgc name input login*/
/* css input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
/*mầu lgoin*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background-color: transparent !important;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
/* error and rollback password */
.forget {
    margin: -15px 0 15px;
    font-size: 1em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

    .forget>a {
        text-decoration: none;
        color:#fff;
    }

        .forget>a:hover {
            text-decoration: underline;
            color: black;
        }
/* login  */
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
/* animation show login */
