
/*================================================ table border =================================*/

/*table, th, td {
    border: 1px solid black;
  border-collapse: collapse;
}
button{
    border-radius: 5%;
}

.tnv{
    border:2px;
}*/


/*================================================ table border =================================*/

table {
    width: 90%;
}
td {
    text-decoration: none;
}
#btnName{
    border: 0px !important;
    background: #ffffff !important;
}
/*#propertyDelete {
    display: none ;
    
}*/
#checkBoxDelete{
    display: none;
}
#btnCreateDelete {
    display: none;
}
.deleteEdit {
    display: none;
}