@model fullstackCsharp.Models.Payoff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payoff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdU" class="control-label"></label>
                <select asp-for="IdU" class ="form-control" asp-items="ViewBag.IdU"></select>
            </div>
            <div class="form-group">
                <label asp-for="Payoff1" class="control-label"></label>
                <input asp-for="Payoff1" class="form-control" />
                <span asp-validation-for="Payoff1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayoffDate" class="control-label"></label>
                <input asp-for="PayoffDate" class="form-control" />
                <span asp-validation-for="PayoffDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

