
@model fullstackCsharp.Models.Staff

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <fieldset>
                    <legend>Edit Information Employee:</legend>

                    <br>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="enter yourname: ">
                    <br>
                    <br>
                    <label for="gender">Gender:</label>
                    <input type="text"name="gender" id="gender" placeholder="enter gender:">
                    <br>
                    <br>
                    <label for="phone"> Phone:</label>
                    <input type="text" name="phone" id="phone" placeholder="enter phone: ">
                    <br>
                    <br>
                    <label for="address">Address:</label>
                    <input type="text" name="address" id="address" placeholder="enter address : ">
                    <br>
                    <br>
                    <label for="user"> Username:</label>
                    <input type="text" name="user" id="user" placeholder="enter username: ">
                    <br>
                    <br>
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password" placeholder="enter password: ">
                    <br>
                    <br>
                    <label for="rank">Rank:</label>
                    <input type="text" name="rankString" id="rank" placeholder="enter rank:">
                    <br>
                    <br>
                    <label for="status">Status:</label>
                    <input type="text" name="status" id="status" placeholder="enter status: ">
                    <br>
                    <br>
                    <label for="id_pb">Id_pb:</label>
                    <input type="text"name="id_pb" id="id_pb" placeholder="enter id_pb : ">
                    <br>
                    <br>
                    <label for="id_rank"> Id_rank:</label>
                    <input type="text"name="id_rank" id="id_rank" placeholder="enter id_rank: ">

                </fieldset>


            </div>


            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

